
@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror-focused {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

.markdown-body p:last-child {
  margin-bottom: 0;
}

.markdown-body a {
  word-break: break-word;
}

.markdown-body table {
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  overflow: hidden;
}
